<html>
<head>
	<title></title>
	<style>
	#search-box{width: 50%; float: left;padding: 20px; box-sizing: border-box;}
	#search-box input{width: 300px}

	#favorits{width: 50%; float: right;padding: 20px; box-sizing: border-box;}
	</style>	
	<script type="text/javascript" src="/jquery-2.0.0.js"></script>
	<script type="text/javascript" src="/underscore.js"></script>
	<script type="text/javascript" src="/backbone.js"></script>
</head>
<body>
	<div id="search-box">
		<p>Buscar: <input type="text"/><button>Buscar</button></p>
		<div id="videos"></div>
	</div>
	<div id="favorits"></div>
	<script id="videoTemplate" type="text/template">
		<div>
			<h4><%= title %></h4>
			<img src="<%= thumb %>"/>
			<span class="favorite">Favorito</span>
		</div>
	</script>	
</body>
</html>